@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {
    --blanco: #f6fff8;
    --gris: #d3d3d3;
    --grisOscuro: #333533; 
    --negro: #080708;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(---blanco);
    font-family: 'Oxygen', sans-serif;
}

.header {
    width: 100%;
    height: 4rem;
    background-color: var(--blanco);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0px 0px 5px rgba(8, 7, 8, 0.75);
    position: fixed;
    z-index: 999;
}

.logo {
    height: 10rem;
}
.nav {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0 10rem 0 0;
}

.nav-link {
    font-size: 1.5rem;
    color: var(---blanco);
    text-decoration: none;
    padding: 0 1.5rem;
}

/* ------- inicio section ------- */
#inicio{
    height: 45rem;
    width: 100%;
    background-image: url(../assets/fondo-inicio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 5px;
}
.container{
    padding: 1rem;
    border-radius: 5px;

}
.container-inicio {
    height: 45rem;
    width: 100%;
    background-color: rgba(8, 7, 8, 0.75);
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(8, 7, 8, 0.75);
}

.logo__container-inicio{
    height: 40rem;
    display: flex;
    justify-content: center;
}

/* ------- shop section ------- */
#shop {
    height: 100rem;
    width: 100%;
}

.container-shop{
    height: 95rem;
    width: 100%;
    padding: 5rem 2rem;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.tilte-shop{
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: underline;
}

.products {
    height: 20rem;
    width: 100%;
    margin-bottom: 4rem;
    display: grid;
    justify-content: center;
    background-color: var(--gris);
}
.product__imagen {
    height: 20rem;
    width: 100%;
    filter: drop-shadow(0px 2px 4px var(--negro));
}

.nombre__products {
    font-size: .8rem;
    text-align: center;
    font-weight: lighter;
    padding: 1rem 0;
    color: var(--grisOscuro);
    text-transform: uppercase;
}

.btn-products {
    margin: auto;
    width: 10rem;
    font-size: 1.2rem;
    padding: 2px;
    border: solid 1px var(--negro);
    background-color: var(--blanco);
    cursor: pointer;
    border-radius: 2px;
}
.btn-products:hover {
    background-color: var(--negro);
    color: var(--blanco);
    transition: all 0.7s;
}
/* ------ section contacto ------- */
#contacto{
    height: 25.5rem;
    width: 100%;
    background-color: var(--negro);
}

.container-contacto {
    height: 25.5rem;
    width: 100%;
}

.logo-contacto{
    height: 15rem;
    display: flex;
    justify-content: center;
}

.title-contacto{
    text-align: center;
    color: var(--blanco);
    margin-bottom: 3rem;
}
.item-contacto{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: -2rem;
    color: var(--blanco);
}

.item-descripcion{
    font-size: 1.2rem;
    list-style: none;
    padding: 0 1.2rem;
}
 .item-redes {
    text-align: center;
    font-size: 2rem;
    list-style: none;
    padding: 0 1.2rem;
 }